streamlit-option-menu~=0.3.2
timm==0.6.7
mediapipe==0.8.10.1
streamlit==0.81.1
streamlit_webrtc==0.20.0
tensorflow
transformers
plotly
torch
torchvision
seaborn
opencv-python-headless==4.5.5.64
streamlit_webrtc==0.43.0
typing_extensions==4.1.1
protobuf~=3.19.0
